﻿body , html {
    padding: 0;
    margin: 0;
    
}

#videoBG {
    position: center;
    z-index: -1;
    width: 100%;
    height: auto;
}






  .button{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #031321;    */
    font-family: consolas;
} 
a{
    position: relative;
    top:90px;
    display: inline-block;
    padding: 15px 30px;
    color: #f5680a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 39px;
    overflow: hidden;
    transition: 0.2s;
}

/* a:hover{
    color: #842577;
    background: #e221f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .1s;
} */
 

a span{
    position: absolute;
    display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#f5680a);
}

a:hover span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#f5680a);
}

a:hover span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.2s;
}

a span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#f5680a);
}

a:hover span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.20s;
}

a span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#f5680a);
}

a:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.30s;
} 




.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;
}
.menu .menu-top{
    position: absolute;
    width: 60px;
    height: 10px;
    background: #ff6a00;
    border-radius: 20px;
    transition: .7s;
}
.menu .top-line{
    position: absolute;
    width: 0;
    height: 3px;
    top: -19px;
    left: -40px;
    border-radius: 25px;
    background: #ccc;
    transition: all 1s ease-out;
}
.menu .menu-bottom{
    position: absolute;
    width: 60px;
    height: 10px;
    top: initial;
    border-radius: 20px;
    bottom: 0;
    background: #ff6a00;
    transition: .7s;
}
.menu .bottom-line{
    position: absolute;
    width: 0;
    height: 3px;
    top: 40px;
    right: -49px;
    border-radius: 25px;
    background: #ccc;
    transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .5s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 3s ease both;
          animation: line-top-open 3s ease both;
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .8s ease-in 3s both;
          animation: lightsaber-open .8s ease-in 3s both;
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 3s ease both;
          animation: line-bottom-open 3s ease both;
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .8s ease-in 3s both;
          animation: lightsaber-open .8s ease-in 3s both;
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .5s ease;
          animation: lightsaber-close .5s ease;
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .5s ease;
          animation: lightsaber-close .5s ease;
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 2s ease-in 2s;
}

@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}
